html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
.tile {
    width: 30%;
    height: 25%;
    background-color: orange;
    float: left;
    margin: 1em;
    padding-left: 0.5em;
}

.tile h1 {
    font-size: 1.2em;
}

.tile p {
    margin: 0;
    padding: 0;
}