body {
    margin: 0;
    color: white;
}

#map {
    margin: 0;
    height: 100vh;
    width: 100%;
}

#banner {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#banner h1, #clubMenu  {
    padding-left: 20px;
}

.clubMenuItem {
    display: inline;
    margin-right: 10px;
}

.clubMenuItem:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}