@font-face {
  font-family: 'VosTrial';
  src:
    url('fonts/VosTrial.ttf?qdllmy') format('truetype'),
    url('fonts/VosTrial.woff?qdllmy') format('woff'),
    url('fonts/VosTrial.svg?qdllmy#VosTrial') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VosTrial' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
